:root{
    --main-grey:#282828;
    --main-dark-blue:#141922;
    --main-green:#adff2f;
    --second-grey:#a3a3a3;
}

/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    width:100%;
    display:block;
}

/*
    GENERAL
*/



html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.my-button{
    padding:10px 20px;
    border:1px solid black;
    border-radius: 25px;
    text-decoration: none;
    color:black;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}
.my-col{
    width:100%
}

/*utility*/
.spaced{
    justify-content: space-between;
}
.bg-first-color{
    background-color: var(--main-dark-blue);
}
.bg-second-color{
    background-color: var(--main-grey);
}
.bg-third-color{
    background-color:black;
}
.bg-fourth-color{
    background-color: var(--main-green);
}
.text-white{
    color:white;
}
/*section up*/
.container-main{
    display:flex;
}
/*
    MAIN
*/
main .header-main{
    height: 80px;
    position:fixed;
    top:0;
    right:0;
    width:calc(100% - 200px);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.container-main main {
    width:calc(100% - 200px);
}
main #main-music{
    height:100%;
    overflow: auto;
    padding-top:80px;
}
main #main-music nav{
    text-align: center;
}
main #main-music nav ul li{
    margin:10px 0px;
    display: inline-block;
}
main #main-music nav ul li a{
    padding: 0 20px;
}

/*
    FOOTER
*/

/*
    MEDIA
*/

/*first brackpoint 1100px - Desktop*/
@media screen and(max-width:1100px){

}
/*second brackpoint 700px - tablet*/
@media screen and(max-width:700px){
    
}
/*third brackpoint 600px -smartphone*/
@media screen and(max-width:600px){
    
}

/*
    DEBUG
*/
.debug>.container-main{
    height:calc(100vh - 100px);
    background-color: lightblue;
}
.debug footer{
    height: 100px;
    background-color: orangered;
}
.debug aside{
    width:200px;
    background-color: lightcoral;
    border:1px dashed red;
}
.debug .header-main{
    background-color: lightgreen;
    border:1px dashed red;
}
.debug #main-music nav{
    background-color: lightsalmon;
}