:root{
    --main-grey:#282828;
    --main-dark-blue:#141922;
    --main-green:#adff2f;
    --second-grey:#a3a3a3;
}

/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    width:100%;
    display:block;
}

/*
    GENERAL
*/



html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.my-button{
    padding:10px 20px;
    border:1px solid black;
    border-radius: 25px;
    text-decoration: none;
    color:black;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}
.my-col{
    width:100%
}
.my-col-1-6{
    width:calc((100% / 6) - 20px);
    margin:0 10px;
}
.my-col-1-5{
    width:calc((100% / 5) - 20px);
    margin:0 10px;
}
.bar{
    background-color: #5a5a5a;
    height:5px;
    border-radius: 10px;
}
.filling{
    background-color: var(--second-grey);
    height:100%;
    border-radius: 10px;
}

/*utility*/
.spaced{
    justify-content: space-between;
}
.bg-first-color{
    background-color: var(--main-dark-blue);
}
.bg-second-color{
    background-color: var(--main-grey);
}
.bg-third-color{
    background-color:black;
}
.bg-fourth-color{
    background-color: var(--main-green);
}
.text-white{
    color:white;
}
.circle{
    border-radius: 50%;
}
/*section up*/
.container-main{
    display:flex;
}
/*
    ASIDE
*/
.container-main aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:15px;
}
.container-main aside .img-cont:first-child{
    width: 150px;
}
.container-main aside .header-aside .img-cont:not(:first-child){
    width: 30px;
}
.container-main aside .playlist{
    flex-grow: 1;
}
.container-main aside .playlist>div:first-of-type{
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container-main aside .playlist>ul{
    max-height: 50%;
    overflow:scroll;
}

.container-main aside .footer-aside>div:first-child{
    border-bottom:2px solid var(--second-grey);
}
.container-main aside .footer-aside>div{
    display:flex;
    align-items: center;
}
.container-main aside .footer-aside div:first-child .img-cont{
    width:20px;
}
.container-main aside .footer-aside div:last-child .img-cont{
    width:30px;
}
.container-main aside .footer-aside div:last-child .img-cont>*{
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--second-grey);
}

/*
    MAIN
*/
main .header-main{
    height: 80px;
    position:fixed;
    top:0;
    right:0;
    width:calc(100% - 200px);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.container-main main {
    width:calc(100% - 200px);
}
main #main-music{
    height:100%;
    overflow: auto;
    padding:80px 20px 0 20px;
}
main #main-music nav{
    text-align: center;
}
main #main-music nav ul li{
    margin:10px 0px;
    display: inline-block;
}
main #main-music nav ul li a{
    padding: 0 20px;
}

/*
    FOOTER
*/
footer .my-row div:first-child .img-cont{
    width:50px;
}
footer .my-row>div:first-child>div:first-child{
    display:flex;
    align-items: center;
}


footer .my-row>div:last-child{
    display:flex;
    align-items: center;
}
footer .my-row>div:last-child .bar{
    width:150px;
}
footer .my-row>div:last-child .bar .filling{
    width:50px;
}

/*
    MEDIA
*/

/*first brackpoint 1100px - Desktop*/
@media screen and (max-width:1100px){
    .my-col-responsive{
        width:calc((100% / 4) - 20px);
        margin:0 10px;
    }
}

/*second brackpoint 700px - tablet*/
@media screen and (max-width:700px){
    .my-col-responsive{
        width:calc((100% / 2) - 20px);
        margin:0 10px;
    } 
}
/*third brackpoint 600px -smartphone*/
@media screen and (max-width:600px){
    .container-main aside{
        width:50px;
    }
    .container-main main {
        width:calc(100% - 50px);
    }
}

/*
    DEBUG
*/
.debug>.container-main{
    height:calc(100vh - 100px);
    background-color: lightblue;
}
.debug footer{
    height: 100px;
    background-color: orangered;
}

.debug aside{
    width:200px;
    background-color: lightcoral;
    border:1px dashed red;
}
.debug .header-main{
    background-color: lightgreen;
    border:1px dashed red;
}
.debug #main-music nav{
    background-color: lightsalmon;
}