:root{
    --main-grey:#282828;
    --main-dark-blue:#141922;
    --main-green:#adff2f;
    --second-grey:#a3a3a3;
    --second-dark-blue:#080b12;
}

/*
    RESET
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    width:100%;
    display:block;
}

/*
    GENERAL
*/



html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.my-button{
    padding:10px 20px;
    border:1px solid white;
    border-radius: 25px;
    text-decoration: none;
    color:white;
}
.my-row{
    display:flex;
    flex-wrap: wrap;
}
.my-col{
    width: 100%;
}
.my-col-1-6{
    width:calc((100% / 6) - 20px);
    margin:0 10px;
}
.my-col-1-5{
    width:calc((100% / 5) - 20px);
    margin:0 10px;
}
.hover-shadow{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    color:white;
    display:none;
}
.bar{
    background-color: #5a5a5a;
    height:5px;
    border-radius: 10px;
}
.filling{
    background-color: var(--second-grey);
    height:100%;
    border-radius: 10px;
}
.container-main{
    height:calc(100vh - 100px);
}

/*utility*/
.spaced{
    justify-content: space-between;
}
.bg-first-color{
    background-color: var(--main-dark-blue);
}
.bg-second-color{
    background-color: var(--main-grey);
}
.bg-third-color{
    background-color:black;
}
.bg-fourth-color{
    background-color: var(--main-green);
}
.bg-fifth-color{
    background-color: var(--second-dark-blue);
}
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.text-grey{
    color:var(--second-grey);
}
.circle{
    border-radius: 50%;
}

.caps{
    text-transform: uppercase;
}
/*section up*/
.container-main{
    display:flex;
}
/*
    ASIDE
*/
aside{
    width:200px;
}
.container-main aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:10px;
    height: 100%;
    min-height: 550px;
}
.container-main aside>section{
    margin-bottom: 20px;
}
.container-main aside .img-cont:first-child{
    width: 150px;
}
.logo>*:last-child{
    display:none;
}
.container-main aside .header-aside .img-cont:not(:first-child){
    width: 30px;
}
.container-main aside .playlist{
    flex-grow: 1;
}
.container-main aside .playlist>div:first-of-type{
    display:flex;
    align-items: center;
    margin:10px 0px;
}
.container-main aside .playlist>div:first-of-type>*:first-child{
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.container-main aside .playlist>ul{
    max-height: 50%;
    overflow:auto;
}
.container-main aside .playlist>ul>li{
    margin:10px 0;
}

.container-main aside .footer-aside>div:first-child{
    border-bottom:2px solid var(--second-grey);
}
.container-main aside .footer-aside{
    margin:0;
}
.container-main aside .footer-aside>div{
    display:flex;
    align-items: center;
}
.container-main aside .footer-aside>div:first-child{
margin-bottom: 10px;
}
.container-main aside .footer-aside div:first-child .img-cont{
    width:20px;
    margin-right: 5px;
}
.container-main aside .footer-aside div:last-child .img-cont{
    width:30px;
    margin-right: 5px;
}
.container-main aside .footer-aside div:last-child .img-cont>*{
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--second-grey);
}

/*
    MAIN
*/

.container-main main {
    width:calc(100% - 200px);
}

main .header-main{
    height: 80px;
    position:fixed;
    z-index: 2;
    top:0;
    right:0;
    width:calc(100% - 200px);
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
main .header-main .my-button{
    margin-right:30px;
}
main .header-main .my-button:hover{
    font-size: 1.2rem;
}

main #main-music{
    height:100%;
    overflow: auto;
    padding:80px 20px 0 20px;
}
main #main-music nav{
    text-align: center;
}
main #main-music nav ul li{
    display: inline-block;
    margin:20px 10px;
    position:relative;
}
main #main-music nav ul li>.hover-underline{
    width:30px;
    background-color: var(--main-green);
    display:none;
}
main #main-music nav ul li:hover>a{
    font-weight: bold;
    color:white;
}

main #main-music nav ul li:active>.hover-underline{
    display:block;
    position:absolute;
    top:110%;
    left:50%;
    transform:translateX(-50%);
}
main #main-music nav ul li a{
    text-decoration: none;
    color:var(--second-grey);
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 0 10px;
}

main #main-music .my-row .card{
    text-align: center;
}
main #main-music .my-row .card>.img-cont{
    position:relative;
}

main #main-music .my-row .card:hover .hover-shadow{
    display:block;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    z-index:1;
}
main #main-music .my-row .card>*{
    margin-bottom:15px;
}

main #main-music .my-row{
    margin:20px 0;
}
main #main-music h2{
    margin:20px 0;
}
/*
    FOOTER
*/
footer{
    position:relative;
    padding:30px 20px;
    height: 100px;
}
footer .my-row div:first-child .img-cont{
    width:50px;
}
footer .my-row>div:first-child{
    display:flex;
    
}
footer .my-row>div:first-child>div{
    display:flex;
    align-items: center;
}
footer .my-row>div:first-child>div>div{
  margin:0 5px;
}
footer .my-row>div:nth-child(2){
    width:30%;
}

footer .control-panel-button{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
footer .control-panel-button>*{
    margin:0 15px;
}

footer .my-row>div:nth-child(2) .bar{
    width:100%;
}
footer .my-row>div:nth-child(2) .bar .filling{
    width:50%;
}

footer .my-row>div:last-child{
    display:flex;
    align-items: center;
}
footer .my-row>div:last-child>div{
    margin:0 5px;
  }
footer .my-row>div:last-child .bar{
    width:100px;
}
footer .my-row>div:last-child .bar .filling{
    width:40px;
}

/*
    MEDIA
*/

/*first brackpoint 1100px - Desktop*/
@media screen and (max-width:1100px){
    .my-col-responsive{
        width:calc((100% / 4) - 20px);
        margin:0 10px;
    }
}

/*second brackpoint 700px - tablet*/
@media screen and (max-width:700px){
    .my-col-responsive{
        width:calc((100% / 2) - 20px);
        margin:0 10px;
    } 
}
/*third brackpoint 600px -smartphone*/
@media screen and (max-width:600px){
    .container-main aside{
        width: 50px;
    }
    .container-main main,
    main .header-main{
        width:calc(100% - 50px);  
    }
    .logo{
        width: 20px;
    }
    .logo>*:first-child{
        display:none;
    }
    .logo>*:last-child{
        display:block;
    }
    aside .header-aside{
        flex-grow: 1;
    }
    
    aside .playlist{
        display:none;
    }
    aside .footer-aside span{
        display:none
    }
}

/*
    DEBUG
*/
